/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
background-color: black;
height: 100%;
}

a {
  color: white;
}

nav > a {
  text-decoration: none;
  font-family: Impact;
  letter-spacing: 1.5px;
  font-size: 1.5em;
}

nav > a:hover {
  color: red;
}

header {
  margin-top: -30px;
}

nav {
  text-align: center;
  padding: 15px;
  margin-top: -10px;
}

#usernav {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: red;
  align-items: center;
}

.usersign {
  margin-left: 45%;
  /*margin-top: 40px;*/
}

.usersign a {
  color: white;
}

h1 a {
  color: yellow;
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 40px;
  margin-top: 5px;
  font-style: italic;
  text-decoration: none;
}

h1 a:hover {
  color: none;
}

h1 {
  color: yellow;
}

.slides {
  width: 80%;
  height: auto;
  display: inline-block;
}

#brandnav {
  margin-top: 1px;
  background-color: black;
}

footer {
  font-family: "Arial Black";
  margin-top: 60px;
  background-color: red;
}
