/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: url("https://www.walldevil.com/wallpapers/a39/background-rgency-black-texture-wallpaper-metal-pictures-wallpapers-static.jpg") no-repeat center center fixed;
/*background: linear-gradient(to right, black, gray);*/
height: auto;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

nav > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 1.25em;
}

nav > a:hover {
  color: red;
}

header {
  margin-top: -20px;
}

nav {
  text-align: center;
  padding: 15px;
  margin-top: -10px;
}

#usernav {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: red;
  align-items: center;
  /*width: 100%;*/
}

.usersign {
  margin-left: 40%;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  width: 25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  /*margin-top: 40px;*/
}

.usersign p {
  margin: 15px;
  width: auto;
}

.usersign a {
  color: white;
  width: 1000000px;
}

#usernav, .usersign {
  /*margin-top: 5px;*/
}

h1 a {
  color: yellow;
  font-family: 'Bungee', cursive;
  font-weight: bold;
  font-size: 40px;
  margin-top: 5px;
  font-style: italic;
  text-decoration: none;
}

h1 a:hover {
  color: none;
}

h1 {
  color: yellow;
}

.slides {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 0;
}

#brandnav {
  /*margin-top: 1px;*/
  background-color: black;
  box-shadow: 0px .5px 15px -3px yellow;
}

footer {
  font-family: 'Bungee', cursive;
  margin-top: 30px;
  background-color: red;
  padding: .017px;
  box-shadow: 0px 500px 0 500px red;
}

h1, footer {
  color: white;
}

.floatingshoe {
  margin-top: 70px;
  margin-left: 30px;
}

.socialmedia {
  width: 200px;
  length: 200px;
}

@media screen and (max-width: 1075px) {
  #usernav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .usersign {
    margin-top: 0;
    margin-left: 0;
    font-size: .85em;
  }
  #brandnav {
    padding-bottom: 0;
  }
  #brandnav a {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
