body {
  text-align: center;
}

.welcome {
  width: 100%;
  height: 100%;
}

h2 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
}

#brandname {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

img {
  width: 350px;
  height: auto;
}

.sneakername {
  margin-top: 7px;
  font-weight: lighter;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.sneakername:hover {
  color: red;
}

#shoesection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // margin-bottom:
}

.sneaker {
  margin: 10px 15px -10px 15px;
  // margin-bottom: 30px;
  // border-style: outset;
  border-width: 5px;
  border-radius: 30px;
}

.sneaker img:hover {
  border-style: solid;
  border-color: red;
  box-shadow: 2px 2px 1px yellow;
  // border-radius: 25px 25px 0 0;
}

// .sneaker:hover {
//   // border-style: inset;
//   border-color: red;
//   box-shadow: 2px 2px 1px yellow;
// }

.size {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.size a:hover {
  color: red;
}

.editlink {
  margin-top: -20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 415px) {
  #brandname {
    font-size: 2em;
  }
}
