body {
  text-align: center;
}

h2 {
  color: white;
  font-family: "Arial";
  letter-spacing: 1px;
}

#brandname {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: white;
}

img {
  width: 400px;
  height: auto;
}

.sneakername {
  margin-top: 7px;
  font-weight: lighter;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

.sneakername:hover {
  color: red;
}

#shoesection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sneaker {
  margin: 10px;
  border-style: outset;
  border-width: 5px;
  border-radius: 30px;
}

.sneaker img {
  border-radius: 25px 25px 0 0;
}

.sneaker:hover {
  border-style: inset;
  border-color: red;
  box-shadow: 2px 2px 1px yellow;
}
