body {
  text-align: center;
}

h2 {
  color: white;
  font-family: "Arial";
  letter-spacing: 1px;
}

#brandname {
  font-size: 2.5em;
  margin-bottom: 60px;
}

img {
  width: 400px;
  height: auto;
}

.sneakername {
  margin-top: 7px;
  font-weight: lighter;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

.sneakername:hover {
  color: red;
}
