// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
  margin-top: 20px;
}

h2 {
  color: white;
  font-family: "Arial";
  letter-spacing: 1px;
  font-size: 2.5em;
  margin-bottom: 30px;
}

#cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cartsneaker {
  margin: 10px;
  border-width: 5px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: "Arial";
  margin-bottom: 40px;
}

.clearcart {
  margin-bottom: 30px;
}

.removeitem {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 14px;
}

button {
  margin: 0 auto;
  background-color: red;
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  padding: .5px;
  font-size: 20px;
  font-weight: bold;
}
