// Place all the styles related to the Sneaker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sneakername {
  color: white;
}

p {
  color: white;
  font-family: Arial;
}

.sneakerpic {
  width: 50%;
  height: auto;
  text-align: center;
}

.addtocart:hover {
  color: red;
}
