// Place all the styles related to the Sneaker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sneakername {
  color: white;
}

p {
  color: white;
  font-family: Arial;
}

img {
  max-width: 400px;
  height: auto;
  text-align: center;
}
