<h2 id="brandname"><%= @brand.name %></h2>
<section id="shoesection">
<% @brand.sneakers.each do |sneaker| %>
<div class="sneaker"><a href="/sneakers/<%= sneaker.id %>">
<img src="<%= sneaker.img_url %>">
<h2 class="sneakername"><%= sneaker.name %></h2>
</a></div>
<% end %>
</section>
