<h2 id="sneakername"><%= @sneaker.name %></h2>
<div class="onesneaker">
<img class="sneakerpic" src="<%= @sneaker.img_url %>" />
<p><b>Shoe Size:</b> <%= @sneaker.shoesize %> - <b>Price:</b> <%= @sneaker.price %></p>
<a href="#">
  <div class="addtocart">
    <h3>
      Add to Cart
    </h3>
  </div>
</a>
</div>
